<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>Stormworks - Model Analyzer</title>
    <meta name="title" content="Stormworks - Model Analyzer">


    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#bf5421">
    <meta name="msapplication-TileColor" content="#bf5421">
    <meta name="theme-color" content="#101010">





    <link rel="stylesheet" type="text/css" href="iconfont.css">
    <link rel="stylesheet" type="text/css" href="style.css">

    <script type="text/javascript" src="jquery.js"></script>
    <script type="text/javascript" src="he.js"></script>
    <script type="text/javascript" src="fast-xml-parser.js"></script>
    <script type="text/javascript" src="handlebars.js"></script>
    <script type="text/javascript" src="tmpl.js"></script>
    <script type="text/javascript" src="script.js"></script>


    <script type="text/javascript" src="version.js"></script>

    <script type="text/javascript" src="https://statistics.flaffipony.rocks/tracking.js"></script>
</head>
<body>
  <div class="background"></div>
  <div class="content">
    <div id="selection">
      <div onclick="$('#file').click()" class="file_button">
        <span class="label">Choose file:</span>
        <span id="file-information">-</span>
      </div>

      <input type="file" id="file" style="display: none;" accept="text/xml">

      <button id="analyze-button" onclick="ModelAnalyzer.analyzeBlob()">Analyze</button>

      <span class="compatible_version">100% guaranteed compatible with game versions from 0.6.20 to 1.6.15</span>

      <p class="thank_you">Special thanks to Alteram and fabi123!<br><i>- They helped to support the latest game versions -</i></p>
    </div>
    <div id="result-container" style="display: none;">
      <div id="navigation-container">
        <div id="navigation">
          <button id="select-other-file" onclick="$('#result-container').fadeOut(200, ()=>{$('#selection').fadeIn(200)})">Analyze another vehicle</button>
          <a href="#statistics">Statistics</a>
          <a href="#components">Components</a>
          <a href="#logic-connections">Logic connections</a>
          <a href="#colors">Colors</a>
          <a href="#microcontrollers">Microcontrollers</a>
        </div>
      </div>

      <div id="result">
      </div>
    </div>
  </div>


  <div style="display: none;">
    <div tmpl-name="stats">

      <h3 id="statistics">Statistics:</h3>
      <input type="checkbox" id="toggle-collapse-general-stats" onchange="toggleCollapse(this, '.general_stats_table')"><label for="toggle-collapse-general-stats">Show original names</label>
      <br/>
      <br/>
      <div class="grid_table general_stats_table collapsed">
        <div class="head">
          <div>Readable name</div>
          <div>Original name</div>
          <div></div>
        </div>
        {{#each general}}
          <div class="row">
            <div class="label">
              {{label}}
            </div>
            <div class="name">
              {{name}}
            </div>
            <div class="value">
              {{#if checkmark}}
                {{#if value}}
                  <span class="icon-checkmark"></span>
                {{/if}}
              {{else}}
                {{value}}
              {{/if}}
            </div>
          </div>
        {{/each}}
      </div>


      <h3 id="components">Components:</h3>
      <input type="checkbox" id="toggle-collapse-components" onchange="toggleCollapse(this, '.components_table')"><label for="toggle-collapse-components">Show original names</label>
      <br/>
      <br/>
      <div class="grid_table components_table collapsed">
          <div class="head">
            <div>Readable name</div>
            <div>Original name</div>
            <div>Single Component Mass</div>
            <div>Combined Mass (% of total mass)</div>
            <div>Count</div>
            <div>Image</div>
          </div>
          {{#each components}}
            <div class="row">
              <div class="label">
                {{label}}
              </div>
              <div class="name">
                {{name}}
              </div>
              <div class="single_mass">
                {{single_mass}}
              </div>
              <div class="total_relative_mass">
                {{total_relative_mass}}
              </div>
              <div class="count">
                {{count}}
              </div>
              <div class="image" style="background-image: url('{{image}}')">

              </div>
            </div>
          {{/each}}
      </div>


      <h3 id="logic-connections">Logic connections:</h3>
      <input type="checkbox" id="toggle-collapse-logics" onchange="toggleCollapse(this, '.logics_table')"><label for="toggle-collapse-logics">Show original names</label>
      <br/>
      <br/>
      <div class="grid_table logics_table collapsed">
          <div class="head">
            <div>Readable type</div>
            <div>Original type</div>
            <div>Count</div>
            <div>Image</div>
          </div>
          {{#each logics}}
            <div class="row">
              <div class="label">
                {{label}}
              </div>
               <div class="type">
                {{type}}
              </div>
              <div class="count">
                {{count}}
              </div>
              <div class="image" style="background-image: url('{{image}}')">

              </div>
            </div>
          {{/each}}
      </div>



      <h3 id="colors">Colors:</h3>
      <div class="grid_table colors_table">
          <div class="head">
            <div>Hexcode</div>
            <div>RGB</div>
            <div>Color</div>
            <div>Count</div>
          </div>
          {{#each colors}}
          <div class="row">
            <div class="hex">
              <span>{{hex}}</span>
            </div>
            <div class="rgb">
              <span>{{rgb}}</span>
            </div>
            <div class="color">
              <span style="background-color: {{color}}"></span>
            </div>
            <div class="amount">
              <span>{{amount}}</span>
            </div>
          </div>
          {{/each}}
      </div>


      <h3 id="microcontrollers">Microcontrollers:</h3>
      <div class="microcontroller_list">
        {{#each microcontrollers}}
        <div class="microcontroller">
          <h4>{{name}}</h4>
          <p>{{description}}</p>
          <div class="count_container">
            <span class="count">{{components_count}}</span><span>logic components</span>
          </div>
          <div class="count_container">
            <span class="count">{{inout_count}}</span><span>logic inputs/outputs</span>
          </div>
        </div>
        {{/each}}
      </div>

    </div>
  </div>

  <div id="analyze-progress" style="display: none">
    <div class="inner">
      <span class="category"></span>
      <span class="progress"></span>
      <span class="step"></span>
    </div>
  </div>



  <div id="information">
    <a target="_blank" rel="noopener noreferrer" class="version" href="https://gitlab.com/stormworks-tools/model-analyzer/commits/master">
      <img src="https://img.shields.io/badge/version-unknown-%239e9e9e.svg">
    </a>
    <a target="_blank" rel="noopener noreferrer" href="https://gitlab.com/stormworks-tools/model-analyzer/">Source Code</a>
  </div>



  <script type="text/javascript">
    function toggleCollapse(checkbox, grid_table){
      if($(checkbox).prop('checked')){
        $(grid_table).removeClass('collapsed')
      } else {
        $(grid_table).addClass('collapsed')
      }
    }



    setTimeout(()=>{
      if(typeof window.version === 'string'){
        $('#information .version').attr('href', 'https://gitlab.com/stormworks-tools/model-analyzer/tags/v' + window.version);
        $('#information .version img').attr('src', 'https://img.shields.io/badge/version-' + window.version + '-%231182c3.svg');
      }
    }, 500)
  </script>

  <script type="text/javascript" src="https://stormworks.flaffipony.rocks/embed_overview.js"></script>
  <script type="text/javascript" src="https://stormworks.flaffipony.rocks/embed_goodbye.js"></script>
</body>
</html>
